@model SecureGate.Models.User

@{
    ViewData["Title"] = "Create";
}

<style>
    .css-rtpi4b {
        border-width: 0px;
        box-sizing: border-box;
        font-style: inherit;
        font-variant: inherit;
        padding: 20px;
        text-decoration-line: none;
        display: block;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        margin: 0px;
        color: rgb(44, 42, 80);
        text-align: center;
    }

    .css-1nmcspn {
        width: 30%;
        border: none;
        position: relative;
        background-color: rgb(0, 178, 247);
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: bold;
        padding: 19px 24px;
    }

    button {
        cursor: pointer;
        align: center;
    }

    button, html input[type=button], input[type=reset], input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .css-jh65zo, .css-jh65zo:visited {
        color: rgb(0, 178, 247);
    }

    .css-1hxd7po {
        border-top: 1px solid rgb(211, 215, 236);
        width: 100%;
        padding: 10px;
    }

    .css-1il45xl {
        border: none;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-weight: bold;
        padding: 19px 24px;
    }

    .css-jh65zo {
        border-width: 0px;
        box-sizing: border-box;
        color: inherit;
        font-style: inherit;
        font-variant: inherit;
        padding: 0px;
        text-decoration-line: none;
        display: block;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        margin: 0px;
    }

    .css-fgyd9j {
        border-width: 0px;
        box-sizing: border-box;
        font-style: inherit;
        font-variant: inherit;
        padding: 0px;
        text-decoration-line: none;
        display: block;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.25px;
        font-weight: 600;
        margin: 0px;
        color: rgb(44, 42, 80);
    }

    css-hu2wat {
        border-width: 0px;
        box-sizing: border-box;
        font-style: inherit;
        font-variant: inherit;
        padding: 0px;
        text-decoration-line: none;
        display: block;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 36px;
        font-weight: 900;
        margin: 0px;
        color: rgb(44, 42, 80);
        letter-spacing: -0.35px;
        font-size: 30px;
    }

    a {
        text-decoration: none;
        cursor: pointer
    }

        a, a:active, a:hover, a:visited {
            color: rgb(0, 178, 247);
        }

    .css-1il45xl span {
        color: rgb(0, 178, 247);
        white-space: nowrap;
    }

    .css-1il45xl:hover, .css-1il45xl:focus {
        background-color: rgb(242, 250, 255);
        align-items: center;
    }

    <style >
    .css-jh65zo, .css-jh65zo:visited {
        color: rgb(0, 178, 247);
    }

    .css-jh65zo {
        border-width: 0px;
        box-sizing: border-box;
        color: inherit;
        font-style: inherit;
        font-variant: inherit;
        padding: 0px;
        text-decoration-line: none;
        display: block;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        margin: 0px;
    }
</style>



<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" align="center">Sign Up</h3>
                        <form asp-action="Create">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-group">
                                        <label asp-for="Username" class="control-label"></label>
                                        <input asp-for="Username" class="form-control" required />
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input type="password" asp-for="Password" class="form-control" required />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input type="email" asp-for="Email" class="form-control" required />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-group">
                                        <!-- Add other properties of User model here -->
                                    </div>
                                </div>
                            </div>
                            <!-- Add other form fields as needed -->
                            <div class="mt-4 pt-2">
                                <div class="form-group" align="center">
                                    <button class="css-1nmcspn" type="submit"><span class="nessie-text css-jh65zo">Sign Up</span></button>
                                </div>
                            </div>
                            <span class="nessie-text css-rtpi4b"
                                <span>By signing up, you agree to #'s <a target="_blank" >Terms of Service</a> and <a target="_blank" href="//www.classdojo.com/privacy">Privacy Policy</a></span>
                            </span>
                            <div class="css-1hxd7po"></div>

                            <a class="css-1il45xl" asp-action="Login"><span class="nessie-text css-jh65zo">Log in here</span></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
